{% extends 'base.html' %}
{% block title %}Login{% endblock  %}

{% block content %}
    <form method="post" class="col-4 container" action="{% url 'login' %}">
        {% csrf_token %}

        {% if error == False %}
            <div class="alert alert-danger" role="alert">
                connection is failed
            </div>
        {% elif error == True %}
            <div class="alert alert-success" role="alert">
                connection is sucessfull
            </div>
        {% endif %}
        
       <div class="form-group">
            <label for="id_username">Login</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            {{form.password}}
        </div>
        <input type="hidden" name="text" value="{{next}}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock  %}
